/* My custom css  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html{
  font-size: 16px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body{
  margin: 0;
  padding: 0;
  background-color: #dde5e8;
}

header{
  background-color: #f4f4f4;

}

#register-message{
  color: limegreen;
  text-align: center;
}

header ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
}
#logo{
  display: flex;
}
#menu-list{
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  column-gap: 1.5rem;
  align-items: center;
}

#menu-list li{
  padding-left: 3%;
}

/* loading  */
#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loader {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Navlink */
.nav-link{
  text-decoration: none;
  color: black;
}
.nav-link-active{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid limegreen;
}

#register-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

#login-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

#user-control{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
#user-control li img{
  width: 100%;
  height: 35px;
}
#user-control li a button{
  padding: 5px 10px;
  font-size: 0.9rem;
  color: black;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans';
}

#profile-section{
  background-color: white;
  display: flex;
  align-items: center;
  padding-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
}
#profile-photo img{
  height: 200px;
}
#profile-info h2{
  font-size: 2rem;
}

#profile-info p{
  font-size: 1.5rem;
}
