/* My custom css  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
  margin: 0;
  padding: 0;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

header {
  background-color: #ffffff;

}

#register-message {
  color: limegreen;
  text-align: center;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
}

#logo {
  display: flex;
}

#menu-list {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  column-gap: 1.5rem;
  align-items: center;
}

#menu-list li {
  padding-left: 3%;
}

/* loading  */
#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loader {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Navlink */
.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link-active {
  text-decoration: none;
  color: #2f7dfc;
  border-bottom: 3px solid #2f7dfc;
}

#register-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  background-color: white;
  padding-bottom: 1rem;
}

#register-form-heading {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: black;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  text-decoration: overline;
}

#login-form-heading {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: black;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  text-decoration: overline;
}

#login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  background: white;
  padding-bottom: 1rem;
}

#login-form>label {
  font-size: 1.2rem;
}

#login-form>input {
  font-size: 1.2rem;
}

#login-form>input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#register-form>label {
  font-size: 1.2rem;
}

#register-form>input {
  font-size: 1.2rem;
}

#register-form>input[type='submit'] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#user-control {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

#user-control li img {
  width: 100%;
  height: 35px;
}

#user-control li a button {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: black;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans';
}

#profile-info-section {
  display: flex;
  align-items: center;
  padding-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  background: white;
}

#profile-photo img {
  height: 200px;
}

#profile-info-section h1 {
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

#profile-info-section > button {
  padding: 5px 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  background-color: forestgreen;
  color: white;
  border: none;
}

#profile-info p {
  font-size: 1.5rem;
}


#user-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  column-gap: 3rem;
  padding: 0 2rem;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

#tabs-container {
  width: 15%;
  background-color: white;
  padding: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

#profile-content {
  width: 85%;
}

.vl {
  border-left: 1px dotted #818895;
  height: 500px;
}

#category-container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem 0;
}

#category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
}
#category-list > #link{
  text-decoration: none;
  color: black;
  transition: all .5s;
  transition-timing-function: ease-out;
}
#category-list > #link:hover{
  color: #2f7dfc;
  /* color: #0047AB; */
}

.category-item {
  text-align: center;
}

.category-item img {
  max-height: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#category-heading {
  text-align: center;
  font-size: 1.8rem;
  color: black;
  background-color: #e5e5f7;
  /* opacity: 0.8; */
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  margin: 0;
  padding: 20px 0;


}

.category-item h3 {
  font-weight: 600;
}

#seeall-btn {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

#seeall-btn a {
  text-decoration: none;
  color: #343434;
  border: 2px solid #2f7dfc;
  padding: 5px 20px;
  transition: all 500ms ease 0s;
}

#seeall-btn a:hover {
  background-color: #2f7dfc;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
}

#product-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-top: 1.5rem;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
  justify-content: space-between;
}

#product-card>img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

#product-card > h3{
  font-size: 1.4rem;
  cursor: pointer;
}

#product-card>h4 {
  margin: 5px 0 0 0;
  color: #4f5362;
  
}
#product-card>h5 {
  color: darkgreen;
  font-size: 1.1rem;
  font-weight: 500;
}

#product-card-btn {
  background-color: #45a146;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

#product-cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  column-gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

#announcement-bar {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  color: white;

  background-color: #007832;
  opacity: 0.8;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #007832 4px), repeating-linear-gradient(#002d0855, #002d08);

}

#product-card-checkout-btn {
  background-color: #2f7dfc;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

#top-picks-heading {
  font-size: 1.8rem;
  margin-bottom: 0;
}


/* Cart style */

.cart-container {
  text-align: center;
  max-width: 800px;
  margin: 15px auto;
  padding: 1rem 2rem;
  background-color: white;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: white;
}

.item-image {
  flex: 0 0 100px;
  margin-right: 10px;
}

.item-image img {
  max-width: 100%;
  height: auto;
}

.item-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
}

.item-description {
  font-weight: 400;
}

.item-price {
  color: #888;
}

.item-quantity {
  flex: 0 0 50px;
  text-align: center;
}

.item-actions {
  flex: 0 0 100px;
  text-align: center;
}

.item-remove-btn {
  color: #e74c3c;
  cursor: pointer;
}

#cart-page-checkout-btn {
  background-color: #2f7dfc;
  padding: 10px 15px;
  font-size: 1.1rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}

.fa-cart-arrow-down {
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 8px 10px 8px 6px;
  border-radius: 10%;
}


input[type="number"]{
  font-size: 1rem;
  width: 5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 300px;
  margin: 20px auto;
  font-size: 1.2rem;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Shipping details form */

@import url("https://rsms.me/inter/inter.css");

:root {
  --color-gray: black;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */


.shipping-container > p {
  color: var(--color-gray);
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  margin: 2rem 0;
}

.shipping-container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: white;
}

.shipping-form {
  display: grid;
  grid-gap: 1rem;
}

.shipping-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5rem;
  border-radius: .25rem;
}

.shipping-field__label {
  color: var(--color-gray);
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.shipping-field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.shipping-field:focus-within {
  border-color: #000;
}

.shipping-fields {
  display: grid;
  grid-gap: 1rem;
}
.shipping-fields--2 {
  grid-template-columns: 1fr 1fr;
}
.shipping-fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.shipping-button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
  max-width: 20rem;
}
.back-button{
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  color: #36454F !important;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: 0;
  border: 3px solid !important;
  box-sizing: border-box;
  max-width: 20rem;
  margin-top: 0.6rem;
}
.shipping-button:focus-visible {
  background-color: #333;
}

/* Checkout Page style */

@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);


:focus {
  outline: none;
}


#checkout-container {
  min-height: 100vh;
  background: white;
  max-width: 40rem;
  margin: 0 auto;
  box-sizing: border-box;
}
#checkout-container > h1{
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

#checkout-container form {
  position: relative;
  margin: auto;
  padding: 30px;
  width: 600px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* #checkout-container form:before {
	position: absolute; 
	content: 'Checkout';
	text-align: center;
	text-transform: uppercase;
	font-size: 5em;
	font-weight: bold;
	color: #00D2FF;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: rgba(255,255,255,.4);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
} */

#checkout-container #ccn {
  float: left;
  width: 100%;
}

#checkout-container label {
  float: left;
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.6em;
  margin-bottom: 5px;
  color: black;
}

#checkout-container input {
  float: left;
  background: transparent;
  border: 2px solid #EBEBEB;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  font-size: 1em;
  line-height: 2em;
  color: rgba(146,163,166,1);
  transition: border 300ms ease-in;
}
#checkout-container select {
  float: left;
  background: transparent;
  border: 2px solid #EBEBEB;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  font-size: 1em;
  line-height: 2em;
  color: rgba(146,163,166,1);
  transition: border 300ms ease-in;
}
#checkout-container button {
  float: left;
  background: transparent;
  border: 2px solid #EBEBEB;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  font-size: 1em;
  line-height: 2em;
  color: rgba(146,163,166,1);
  transition: border 300ms ease-in;
}

#checkout-container input:focus {
  border-color: #20A8FF;
}
#checkout-container select:focus {
  border-color: #20A8FF;
}

#checkout-container input::-webkit-input-placeholder {
  color: rgba(146,163,166,.5);
}

#checkout-container input[type="submit"] {
  margin-top: 33px;
  width: 100%;
  background: #F7D055;
  border: none;
  color: rgba(0,0,0,.6);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 200ms ease-in;
}

#checkout-container input[type="submit"]:hover {
  background: #FFDC70;
  cursor: pointer;
}

#checkout-container #ccn input[type="text"] { 
  width: calc(25% - 10px); 
  letter-spacing: 10px;
  text-align: center;
}

#checkout-container #ch input[type="text"] { 
  width: calc(50% - 10px);  
  text-align: start;
}

#checkout-container #ed, #checkout-container #sc {
  width: 50%;
}

#checkout-container #sc input[type="text"] {
  width: calc(100% - 10px);  
}

#checkout-container #ed select {
  background: #fff;
  height: 46px;
  width: calc(50% - 10px);  
  line-height: 2em;
  text-align: center;
}

#checkout-container #cc {
  width: 50%;
} 

#checkout-container label.cards {
  float: left;
  width: calc(25% - 10px);
  margin: 0 10px 10px 0;
}

#checkout-container label.cards div {
  width: 100%;
  height: 40px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid rgba(255,255,255,.5);
  transition: all 200ms ease-in;
}

#checkout-container label.cards div:hover {
  cursor: pointer;
}

#checkout-container label.cards div#visa {
  background: url(https://dl.dropboxusercontent.com/u/88446111/daily%23002/1.png) center center;
}

#checkout-container label.cards div#amex {
  background: url(https://dl.dropboxusercontent.com/u/88446111/daily%23002/2.png) center center;
}

#checkout-container label.cards div#mastercard {
  background: url(https://dl.dropboxusercontent.com/u/88446111/daily%23002/3.png) center center;
}

#checkout-container label.cards div#discover {
  background: url(https://dl.dropboxusercontent.com/u/88446111/daily%23002/4.png) center center;
}

#checkout-container label.cards > input {
  display: none;
}

#checkout-container label.cards > input:checked + div {
  border-color: #20A8FF;
}

#addresses-container{
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 2rem 2rem;
  width: 100%;
  justify-content: center;
}

#addresses-container h1{
  width: 100%;
  margin-top: 0;
  text-align: center;
}
#addresses-container section{
  padding: 0px 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#addresses-container section ul{
  list-style: square;
  font-size: 1.2rem;
  line-height: 1.5;
}

#shipping-details-address{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: white;
  flex-direction: column;
  align-items: center;

}

.order-container{
  background-color: white;
  padding: 1rem 2rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.order-container > div img{
  width: 200px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.order-info-container > p{
  font-size: 1.3rem;
}
.order-status{
  color: #002d08;
  font-weight: 600;
}

#orders-page{
  width: 90%;
  margin: 0 auto;
}

#orders-page h1{
  text-align: center;
}

#edit-profile-container{
  background-color: white;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#edit-profile-container > h1{
  text-align: center;
}
#edit-profile-container > form{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#edit-profile-container > form > div > input{
  font-size: 1.2rem;
  padding: 5px 5px;
}
#edit-profile-container > form > div > label{
  font-weight: 600;
  text-transform: uppercase;
}
#edit-profile-container > form > input[type="submit"]{
  background-color: white;
  border: 2px solid #4CAF50;
  font-size: 1.2rem;
  padding: 5px 0;
  cursor: pointer;
}
#edit-profile-container > form > button{
  background-color: white;
  border: 2px solid black;
  font-size: 1.2rem;
  padding: 5px 0;
  cursor: pointer;
}
#product-page{
  background-color: white;
  width: 90%;
  margin: 1rem auto;
  display: flex;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 2rem;
  justify-content: center;
  
}

#product-page-image{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  
}

#product-page-image > img{
  width: 100%;
  height: auto;
}

#product-page-info{
  width: 100%;
  max-width: 650px;
}


#bottom-section > p{
  font-size: 1.3rem;
  margin: 0;
}

#top-section > p{
  font-size: 1.3rem;
  color: darkslategray;
  margin: 0;
}
#top-section > h1{
  font-size: 2rem;
  margin: 0;
}

#product-page-info #price{
  color: #007832;
}

#top-section {
  margin-bottom: 1rem;
}
#bottom-section{
  margin-bottom: 1rem;
}





/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

#product-content{
  font-size: 1.3rem;
}
#loginMessage{
  color: #e74c3c;
}

#registerMessage{
  color: #e74c3c;
}