/* My custom css  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
  margin: 0;
  padding: 0;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

header {
  background-color: #ffffff;

}

#register-message {
  color: limegreen;
  text-align: center;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
}

#logo {
  display: flex;
}

#menu-list {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  column-gap: 1.5rem;
  align-items: center;
}

#menu-list li {
  padding-left: 3%;
}

/* loading  */
#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loader {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Navlink */
.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link-active {
  text-decoration: none;
  color: #2f7dfc;
  border-bottom: 3px solid #2f7dfc;
}

#register-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  background-color: white;
  padding-bottom: 1rem;
}

#register-form-heading {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: black;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  text-decoration: overline;
}

#login-form-heading {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: black;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  text-decoration: overline;
}

#login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  background: white;
  padding-bottom: 1rem;
}

#login-form>label {
  font-size: 1.2rem;
}

#login-form>input {
  font-size: 1.2rem;
}

#login-form>input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#register-form>label {
  font-size: 1.2rem;
}

#register-form>input {
  font-size: 1.2rem;
}

#register-form>input[type='submit'] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#user-control {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

#user-control li img {
  width: 100%;
  height: 35px;
}

#user-control li a button {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: black;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans';
}

#profile-info-section {
  display: flex;
  align-items: center;
  padding-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
}

#profile-photo img {
  height: 200px;
}

#profile-info h2 {
  font-size: 2rem;
}

#profile-info p {
  font-size: 1.5rem;
}


#user-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  column-gap: 3rem;
  padding: 0 2rem;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

#tabs-container {
  width: 15%;
  background-color: white;
  padding: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

#profile-content {
  width: 85%;
}

.vl {
  border-left: 1px dotted #818895;
  height: 500px;
}

#category-container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem 0;
}

#category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
}
#category-list > #link{
  text-decoration: none;
  color: black;
  transition: all .5s;
  transition-timing-function: ease-out;
}
#category-list > #link:hover{
  color: #2f7dfc;
  /* color: #0047AB; */
}

.category-item {
  text-align: center;
}

.category-item img {
  max-height: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#category-heading {
  text-align: center;
  font-size: 1.8rem;
  color: black;
  background-color: #e5e5f7;
  /* opacity: 0.8; */
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  margin: 0;
  padding: 20px 0;


}

.category-item h3 {
  font-weight: 600;
}

#seeall-btn {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

#seeall-btn a {
  text-decoration: none;
  color: #343434;
  border: 2px solid #2f7dfc;
  padding: 5px 20px;
  transition: all 500ms ease 0s;
}

#seeall-btn a:hover {
  background-color: #2f7dfc;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
}

#product-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-top: 1.5rem;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
  justify-content: space-between;
}

#product-card>img {
  width: 100%;
  height: auto;
}

#product-card > h3{
  font-size: 1.4rem;
  
}

#product-card>h4 {
  margin: 5px 0 0 0;
  color: #4f5362;
  
}
#product-card>h5 {
  color: darkgreen;
  font-size: 1.1rem;
  font-weight: 500;
}

#product-card-btn {
  background-color: #45a146;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

#product-cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  column-gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

#announcement-bar {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  color: white;

  background-color: #007832;
  opacity: 0.8;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #007832 4px), repeating-linear-gradient(#002d0855, #002d08);

}

#product-card-checkout-btn {
  background-color: #2f7dfc;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

#top-picks-heading {
  font-size: 1.8rem;
  margin-bottom: 0;
}


/* Cart style */

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: white;
}

.item-image {
  flex: 0 0 100px;
  margin-right: 10px;
}

.item-image img {
  max-width: 100%;
  height: auto;
}

.item-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
}

.item-description {
  font-weight: 400;
}

.item-price {
  color: #888;
}

.item-quantity {
  flex: 0 0 50px;
  text-align: center;
}

.item-actions {
  flex: 0 0 100px;
  text-align: center;
}

.item-remove-btn {
  color: #e74c3c;
  cursor: pointer;
}

#cart-page-checkout-btn {
  background-color: #2f7dfc;
  padding: 10px 15px;
  font-size: 1.1rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}

.fa-cart-arrow-down {
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 8px 10px 8px 6px;
  border-radius: 10%;
}


input[type="number"]{
  font-size: 1rem;
  width: 5rem;
  text-align: center;
}



